.row
  .small-12.columns
    %br
.row
  .small-12.columns
    %ul.small-block-grid-3
      - @websites.each do |website|
        %li
          .website_box
            %a{:href => "= website.after_image.url", :target => "_blank"}= image_tag(website.after_image.thumbnail.url, :type => "fetch", :width => 314, :height => 130, :crop => :fill, :gravity => :north, :class=> "example_image")
            %h3= website.title
            %p= website.description
            %a.button.tiny.radius{"data-reveal-id" => "#{website.title.gsub(/\s+/, "")}Modal", :href => "#", "data-reveal" => true} See Before and After
            %a= link_to 'Destroy', website, method: :delete, data: {confirm: 'Are you sure?'}, :class => "button radius tiny alert"
            %div{:id => "#{website.title.gsub(/\s+/, "")}Modal", :class => "reveal-modal", "data-reveal" => ""}
              %h2.text-centered Before and After Comparison of #{website.title}
              %a{:href => "= website.before_image.url", :target => "_blank"}= image_tag(website.before_image.thumbnail.url)
              %a{:href => "= website.after_image.url", :target => "_blank"}= image_tag(website.after_image.thumbnail.url)
              %a.close-reveal-modal &#215;
.row
  .small-12.columns
    %br
      = link_to 'New Website', new_website_path

