<h1>Listing websites</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Before image</th>
      <th>After image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.title %></td>
        <td><%= website.description %></td>
        <td>
          <a href="<%= website.before_image.url %>" target="_blank">
            <%= image_tag(website.before_image.thumbnail.url, :class => "thumbnail inline") %>
          </a>
        </td>
        <td>
          <a href="<%= website.after_image.url %>" target="_blank">
            <%= image_tag(website.after_image.thumbnail.url, :class => "thumbnail inline") %>
          </a>
        </td>
        <td><%= link_to 'Show', website %></td>
        <td><%= link_to 'Edit', edit_website_path(website) %></td>
        <td><%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Website', new_website_path %>
